# Maven specific files
target/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# OS specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Specific config files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Node specific files
node_modules/

# Other ignored files
*.swp
